:root {
  --background-color: #1e2749;
  --secondary-color: #273469;
  --accent-color: #cca07e;
  --contrast-color: #fafaff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  height: 100vh;
  background: var(--background-color);
  background: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--background-color) 100%
  );
  color: var(--contrast-color);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#brief {
  position: relative;
}

#brief h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

#brief-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.zoom {
  transition: all 300ms ease-out;
}
.zoom:hover {
  transition: all 300ms ease-out;
  transform: scale(1.05);
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.video-container {
  min-width: 100vh;
  min-height: 100vh;
  position: absolute;
  filter: blur(10px);
  z-index: -3;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.block {
  width: 50%;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
}

.avatar {
  border-radius: 5em;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--contrast-color);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px;
  flex-direction: row;
}

.brand img {
  padding-top: 5px;
  width: 15em;
  height: 3em;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 2em;
}
.links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--contrast-color);
}

#who-are-we {
  position: relative;
}

#who-are-we img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -3;
  filter: blur(2px);
}

#who-are-we-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 10em;
}
